#home .header{
    text-align: center;
}

#home .header a{
    font-size: 14px;
    border: #f3f3f3 1px solid;
    background-color: grey;
}

#home .content{
    color: green;
}

#home .footer{
    font-size: 14px;
}

/* 第二頁 */
#product .header{
    text-align: center;
}

#product .header a{
    font-size: 14px;
    border: #f3f3f3 1px solid;
    background-color: grey;
}

#product .content{
    color: green;
    position: relative;
}

#product .content a{
    position: absolute;
    bottom: 100;
}

#product .footer{
    font-size: 14px;
}

