#home .header{
    text-align: center;
}

#home .header a{
    font-size: 14px;
    border: #f3f3f3 1px solid;
}

#home .content{
    color: green;
    margin-top: 15%;
}

#home .footer{
    font-size: 14px;
}

/* 第二頁 */
#product .header{
    text-align: center;
}

#product .header a{
    font-size: 14px;
    border: #f3f3f3 1px solid;
}

#product .content{
    color: green;
    margin-top: 15%;
}

#product .content img{
    width: 49%;
}

#product .footer{
    font-size: 14px;
}

#about div{
    text-align: center;
}